<h1>No Spoilers</h1>
<h2>Add New Series</h2>
<p>
  <form id="series-form">
    <div>
      <label for="name">Search for Series by Name:</label>
      <input name="name" type="text" id="series_name" required />
    </div>
    <div>
      <label for="genre">Type:</label>
      <select name="genre" type="text" id="series_genre">
        <option value="tv">TV Show</option>
        <option value="book">Book</option>
        <option value="movie">Movie</option>
      </select>
    </div>
    <button type="submit">Search</button>
  </form>
</p>
<div id="results"></div>