<h1>No Spoilers</h1>
<div id="welcome-message">
<p>Welcome to "No Spoilers", a project created for Code Fellows PDX 401 class! The idea for this project was to create a series tracking system so that users could look up information about episodes/books/movies that they had already seen without accidentally seeing information about upcoming events, or "spoilers"!</p>
<p>The goal for this project was originally to set up the back end, but we also did a lot of work on the front end, developing our own tools for streamlining the process since we had not learned any frameworks yet.</p>
<p>For the back end, we used Node, Express, and Mongo to create a restful API with signup/login functionality. On the front end, we used Skeleton, jQuery, Moment, Superagent, js.cookie, and lots of Handlebars templates!</p>
<p>The app is pretty rudimentary, but keep in mind it was created by three students over just a week. Thanks for visiting!</p>
</div>
<div id="add-series-button"></div>
<h4>Currently Active Series:</h4>
<div id="series-list"></div>