 <div class="form" class="container"> 
  <form id="login-form">
    <div class="row">
      <!--<label for="name"></label>-->
      <input placeholder="Username" name="name" type="text" id="username" required />
      <!--<label for="pass"></label>-->
      <input placeholder="Password" name="pass" type="password" id="password" required />
    </div>
    <div class="row">
      <button type="submit">Log In</button>
    </div>
  </form>
</div>