 <div class="form" class="container"> 
  <form id="login-form">
    <div class="row">
      <!--<label for="name"></label>-->
      <input placeholder="{{this.username}}" name="name" type="text" id="username" required />
      <!--<label for="pass"></label>-->
      <input placeholder="{{this.password}}" name="pass" type="password" id="password" required />
    </div>
    <div class="button row">
      <button type="submit">{{this.login}}</button>
    </div>
  </form>
</div>