<h2>Your "In Progress" Series:</h2>
{{#each series}}
  <div class="series-details-template" data-id="{{this._id}}">
    <h3>Series Name: <span class="series-name"">{{name}}</span></h3>
    <p>Description: {{description}}</p>
  </div>
{{/each}}
