<section>
  <div class="series-details-template">
    <h3>Series Name: <span class="series-name" data-id="{{this._id}}">{{name}}</span></h3>
    <p>Description: {{description}}</p>
  </div>
</section>
