<div class="form">
  <form id="signup-form" class="container">
    <div class="row">
      <!--<label for="name"></label>-->
      <input placeholder="{{username}}" name="name" type="text" id="signupUsername" required />
      <!--<label for="pass"></label>-->
      <input placeholder="{{password}} "name="pass" type="password" id="signupPassword" required />
      <!--<label for="conf"></label>-->
      <input placeholder="{{confirm}}" name="conf" type="password" id="confirm" required />
    </div>
    <div class="row">
      <button type="submit">{{signup}}</button>
    </div>
  </form>
</div>