<div class="form">
  <form id="signup-form" class="container">
    <div class="row">
      <!--<label for="name"></label>-->
      <input placeholder="Username" name="name" type="text" id="signupUsername" required />
      <!--<label for="pass"></label>-->
      <input placeholder="Password "name="pass" type="password" id="signupPassword" required />
      <!--<label for="conf"></label>-->
      <input placeholder="Confirm" name="conf" type="password" id="confirm" required />
    </div>
    <div class="row">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>